@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Delius Swash Caps;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 15px;
    color:rgba(184, 45, 114, 0.815);
}

.flex-container {
     width: 90%;
     height: 200px;
     background-color: rgb(216, 164, 191);
     margin: 0 auto 20px;
     display: flex;
     justify-content:flex-start;
     align-items: center;
}

.flex-item{
    width: 80px;
    height: 80px;
    background-color: rgb(197, 86, 145);
    border: 2px solid rgba(255, 255, 255, 0.295);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
}