@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(236, 127, 182);
}

body {
    font-family:Delius Swash Caps;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 15px;
    color:rgba(167, 0, 97, 0.815);
}

h2 {
    margin-bottom: 15px;
    color:rgba(184, 45, 114, 0.815);
}

.flex-container {
     width: 90%;
     height: 200px;
     background-color: rgb(241, 168, 206);
     margin: 0 auto 20px;
     display: flex;
     justify-content:flex-start;
     align-items: center;
}

.flex-item {
    width: 80px;
    height: 80px;
    background-color: rgb(197, 86, 145);
    border: 2px solid rgba(116, 11, 75, 0.897);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 10px;
}

.justify-center {
    justify-content: center;   
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-between {
justify-content: space-between;
}

.justify-space-around{
    justify-content: space-around; 
}

.navegacao {
    text-decoration: none;
    color:rgba(190, 6, 114, 0.815);
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 20px;
    border: 2px solid rgba(190, 6, 114, 0.815);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.5s ease;
}

.navegacao:hover {
    background-color:rgba(173, 33, 115, 0.815);
    color: #2b2b2b;
}